.container{
    margin: 0 auto;
    max-width: 1400px;
}
.tariffs_container{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0 0;
    align-items: center;
}
.box_trial_agency{
    width: 350px;
    height: 350px;
    box-shadow: 0px 6px 10px rgba(46, 60, 80, 0.15);
    border: 1px solid #472A7E;
    box-sizing: border-box;
    border-radius: 30px;
}
.box_author{
    width: 400px;
    height: 400px;
    box-shadow: 0px 14px 18px rgba(46, 60, 80, 0.15);
    background: #472A7E;
    border-radius: 30px;
    color: #FFFFFF;
}
.box_title_agency{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 15px 0 0 0;
}
.box_title_trial_author{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 26px 0 0 0;
}
.text_trial_author{
    margin: 30px 0 0 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.text_agency{
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 105px;
}
.price_author{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 40px;
}
.price_trial_agency{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 25px 0 15px 0;
}
.button{
    background: #FAC300;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

/* @media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: none;
    }
} */