.div{
    font-family: 'Montserrat', sans-serif;
    width: 1425px;
    height: 1404px;
}

.hom{
    width: 100%;
    height: 500px;
}

.img{
    position: absolute;
    width: 659px;
    height: 459px;
    left: 850px;
    top: 170px;
}

.img2{
    position: absolute;
    left: 900px;
    right: 21.04%;
    top: 150px;
    bottom: 83.85%;
}

.img3{
    position: absolute;
    width: 921px; 
    height: 362px;
    left: -190px;
    top: 470px;
}

.hom-text{
    width: 350px;
    height: 500px;
    margin: 150px 350px;
    text-align: left;
}

.hom-text>h1{
    font-size: 40px;
    margin-top: 250px;
}

.b{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    position: absolute;
    width: 135px;
    height: 42px;
    left: 350px;
    top: 500px;
    bottom: 0%;
    background: #FAC300;
    color: #000000;
    border-radius: 4px;
    border: none;
}

.product{
    width: 100%;
    height: 400px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog{
    flex: 0 1 33.333%;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.about_semantir{
    width: 100%;
    height: 600px;
}

.about-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pblock{
    position: absolute;
    width: 1350px;
    height: 550px;
    left: 35px;
    top: 1310px;
    background: #472A7E;
    border-radius: 10px;
    z-index: 1;
}

.pblock>h1{
    position: absolute;
    left: 85px;
    top: 350px;
    color: white;
}

.card{
    text-align: left;
    width: 250px;
    height: 450px;
    margin: 40px 0px;
    margin-right: -90px;
    margin-left: -90px;
    background: #F7F7F7;
    z-index: 5;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.img5{
    position: absolute;
    bottom: -10px; 
    width: 220px;
    height: 230px;
}

.slider{
    width: 250px;
    height: 60px;
    margin: 450px 30px;
    color: white;
}

.button1{
    position: relative;
    width: 40px;
    height: 40px;
    right: -600px;
    top: -600px;
    border-radius: 20px;
    background:#472A7E;    
}

.button2{
    position: relative;
    width: 40px;
    height: 40px;
    right: -580px;
    top: -600px;
    border-radius: 20px;
    background: #472A7E; 
}