header{
    background:#f9f6ff;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16pxs;

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    display: flex;
    
}
.logo{
    /* position: absolute; */
    width: 100px;
    height: 90px;
    left: 150px;
    top: 23px;
}

.menu{
    display: flex;
    list-style: none;
    margin-right: 68px;
}
.a1{
    font-family: 'TT Norms Pro';
    font-size: 18px;
    margin-left: 30px;
    color: black;
    text-decoration: none;
    transition: .3s;
    display: block;
    border-bottom: 1px solid transparent;
}
.a1:hover {
    border-bottom: 1px solid black;
}

button{
    width: 84px;
    height: 41px;
    padding: 12px 24px;
    background:purple;
    border-radius: 4px;
    color: white;
    border: none;
}

.img{
    position: absolute;
    width: 659px;
    height: 459px;
    left: 850px;
    top: 100px;
}

.img2{
    position: absolute;
    left: 900px;
    right: 21.04%;
    top: 2.57%;
    bottom: 83.85%;
}